<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
                    <li routerLinkActive="active"><a routerLink="/create-trivia">Create trivia</a></li>
                    <li routerLinkActive="active"><a routerLink="/start-trivia">Start the trivia</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-trivia></app-trivia> -->